.spinner,
.barra-progreso {
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 90%;
}

.spinner {
    align-items: center;
}

.barra-progreso {
    align-items: baseline;
}

ion-spinner {
    height: 100px;
    width: 100px;
}

.spinnerA {
    z-index: 10;
    position: absolute;
    height: 200;
    width: 200;
    animation: spinner 1s ease-in-out infinite both;
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}