<ion-header class="header-home">
    <ion-toolbar align='center' color='elemento'>
        <ion-title>
            {{usuario.email}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color='fondo'>
    <div *ngIf='!splash' class='ion-page' id="main">
        <div class='contenido' style="text-align: center; margin-top: 25px;">
            <div style="margin: 10px auto;">
                <img src="./assets/cosasLindas.png" class="boton azul" height=200px width=200px (click)="verCosas('lindas')">
                <figcaption class="figure-caption">Cosas Lindas del edificio</figcaption>
            </div>
            <div style="margin: 10px auto;">
                <img src="./assets/cosasFeas.png" class="boton rojo" height=200px width=200px (click)="verCosas('feas')">
                <figcaption class="figure-caption">Cosas Feas del edificio</figcaption>
            </div>
        </div>
    </div>
    <img *ngIf='splash' class='spinnerA' src="../../assets/logoMov.png">
</ion-content>
<ion-footer>
    <ion-toolbar color="fondo">
        <ion-button color='danger' expand='block' (click)='cerrarSesion()'>Cerrar Sesion</ion-button>
    </ion-toolbar>
</ion-footer>